<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <title>Bug managment System</title>
</head>
<body>

<!-- Importing Navbar	-->
<div th:insert="navbar.html :: navbar"></div>

<div class="container">

    <hr>
    <h2>Bug Details</h2>
    <table border="1" class = "table table-striped table-responsive-md">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Salary</th>
        <th>Deadline</th>
        <th>Label / Tag</th>
        <th>Status</th>

        <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bugDetails:${bugDetails}">

        <td th:text="${bugDetails.title}"></td>
        <td th:text="${bugDetails.description}"></td>
        <td th:text="${bugDetails.salary}"></td>
        <td th:text="${#dates.format(bugDetails.deadLine,'dd/MM/yyyy')}"></td>
        <td th:text="${bugDetails.labelName}"></td>




        <td >
          <form th:action="@{/showFormForDetails/{id}(id=${bugDetails.id})}" th:object = "${bugDetails}" method="POST">
            <div class="form-group">
              <div class="form-check form-switch" >
                <label th:switch="${bugDetails.isActive()}">
                  <p th:case="true">Bug  is  active</p>
                  <p th:case="false">Bug is passive</p>
                </label>
                <input sec:authorize="hasRole('ROLE_ADMIN')" type="checkbox"  class="form-check-input" role="switch" id="isActive" th:name="isActive"  th:checked="${bugDetails.isActive()}" onChange="this.form.submit()" />
              </div>
            </div>
          </form>
        </td>


        <td sec:authorize="hasRole('ROLE_ADMIN')">
          <form th:action="@{/showFormForDetails/{id}(id=${bugDetails.id})}" th:object = "${bugDetails}" method="POST">
            <div class="form-group">
              <div class="form-check form-switch" >
                <label th:switch="${bugDetails.isActive()}">
                  <p th:case="true">
                    <a th:href="@{/showFormForUpdate/{id}(id=${bugDetails.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/deleteBug/{id}(id=${bugDetails.id})}" class="btn btn-danger">Delete</a>
                  </p>
                  <p th:case="false">Cannot modify !</p>
                </label>
              </div>
            </div>
          </form>
        </td>

      </tr>
      </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-danger">Return</a>

</div>

<!--<div class="container">-->
<!--  <hr>-->
<!--  <h2>Bug Details</h2>-->
<!--  <table border="1" class = "table table-striped table-responsive-md">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Bug First Name</th>-->
<!--      <th>Bug Last Name</th>-->
<!--      <th>Bug salary</th>-->
<!--      <th>Bug birthday</th>-->
<!--      <th>Bug label</th>-->
<!--      <th>Bug Status</th>-->

<!--      <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="employeeDetails:${employeeDetails}">-->

<!--        <td th:text="${employeeDetails.firstName}"></td>-->
<!--        <td th:text="${employeeDetails.lastName}"></td>-->
<!--        <td th:text="${employeeDetails.salary}"></td>-->
<!--        <td th:text="${#dates.format(employeeDetails.birthday,'dd/MM/yyyy')}"></td>-->
<!--        <td th:text="${employeeDetails.departmentName}"></td>-->




<!--      <td >-->
<!--        <form th:action="@{/showFormForDetails/{id}(id=${employeeDetails.id})}" th:object = "${employeeDetails}" method="POST">-->
<!--          <div class="form-group">-->
<!--            <div class="form-check form-switch" >-->
<!--              <label th:switch="${employeeDetails.isActive()}">-->
<!--                <p th:case="true">Bug  is  active</p>-->
<!--                <p th:case="false">Bug is passive</p>-->
<!--              </label>-->
<!--              <input sec:authorize="hasRole('ROLE_ADMIN')" type="checkbox"  class="form-check-input" role="switch" id="isActive" th:name="isActive"  th:checked="${employeeDetails.isActive()}" onChange="this.form.submit()" />-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </td>-->


<!--      <td sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--        <form th:action="@{/showFormForDetails/{id}(id=${employeeDetails.id})}" th:object = "${employeeDetails}" method="POST">-->
<!--          <div class="form-group">-->
<!--            <div class="form-check form-switch" >-->
<!--              <label th:switch="${employeeDetails.isActive()}">-->
<!--                <p th:case="true">-->
<!--                  <a th:href="@{/showFormForUpdate/{id}(id=${employeeDetails.id})}" class="btn btn-primary">Update</a>-->
<!--                  <a th:href="@{/deleteEmployee/{id}(id=${employeeDetails.id})}" class="btn btn-danger">Delete</a>-->
<!--                </p>-->
<!--                <p th:case="false">Cannot modify !</p>-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </td>-->

<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--    <a th:href="@{/}" class="btn btn-danger">Return</a>-->
<!--</div>-->
</body>
</html>