<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <title>Bug managment System</title>

</head>
<body>

<!-- Importing Navbar	-->
<div th:insert="navbar.html :: navbar"></div>




<div class="container my-2">

    <h1>Bug List</h1>
    <br>
    <a class="btn btn-primary btn-lg mb-3" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/shownewBugForm}">Add Bug</a>

    <a th:href = "@{/LabelList}" class="btn btn-primary btn-lg mb-3" sec:authorize="hasRole('ROLE_ADMIN')">Label / Tag List</a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Bug title</th>
                <th >Label / Tags</th>
<!--                <th>Actions</th>-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="bug:${listBugs}">

                <td ><a th:href="@{/showFormForDetails/{id}(id=${bug.id})}"  th:text="${bug.title}">Details</a></td>
                <td th:text="${bug.labelName}"></td>

            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>