<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <title>Bug Tracker</title>

</head>
<body>

<!-- Importing Navbar	-->
<div th:insert="navbar.html :: navbar"></div>




<div class="container my-2">

    <h1>Bugs and Issues</h1>
    <br>
    <a class="btn btn-primary btn-lg mb-3" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/shownewBugForm}">Add Bug</a>

    <a th:href = "@{/LabelList}" class="btn btn-primary btn-lg mb-3" sec:authorize="hasRole('ROLE_ADMIN')">Label / Tag List</a>



<!--    <div class="container text-center">-->
<!--        <div class="row">-->
<!--            <div class="col" style="background-color: blueviolet">-->
<!--                Open-->
<!--            </div>-->
<!--            <div class="col"style="background-color: cadetblue">-->
<!--                In Progress-->
<!--            </div>-->
<!--            <div class="col" style="background-color: salmon">-->
<!--                Test process-->
<!--            </div>-->
<!--            <div class="col" style="background-color: dodgerblue">-->
<!--                Tested-->
<!--            </div>-->
<!--            <div class="col"style="background-color: darkblue">-->
<!--                Solved-->
<!--            </div>-->
<!--            <div class="col" style="background-color: forestgreen">-->
<!--                Deployed-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->



    <hr>
    <div class="cardTable" style="display: inline-block;">
        <div th:each="bug:${listBugs}" class="card text-bg-success mb-3"
        style="max-width: 25rem; margin: 10px; display: inline-flex;">
            <div class="card-body">
                <table border="1" class = "table table-striped table-responsive-md">
                    <thead>

                    <tr>
                        <th>Title</th>
                        <th >Label</th>
                        <th >Priority</th>
                        <th >Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td ><a style="color: maroon; width: 33%; padding-bottom: 33%; height: 0;" th:href="@{/showFormForDetails/{id}(id=${bug.id})}" th:text="${bug.title}">Details</a></td>
                        <td th:text="${bug.labelName}"></td>
                        <td style="background-color: darkorange; border-radius: 25px;  "
                            th:text="${bug.priority}"></td>
                        <td style="background-color: aquamarine; border-radius: 25px;  "
                            th:text="${bug.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>